body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* page background */
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    /* page background image */
}

div.background {
    background: url(./images/titleImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1.5px solid gray;
    border-radius: 3px 25px;
    margin: 5px;
    /* jumbotron background */
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 50px;
    opacity: 0.8;
    filter: alpha(opacity=60);
    /* jumbotron background */
    /* For IE8 and earlier */
}

div.transbox p {
    margin: 4.5%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* jumbotron background */
}

#jtBackground {
    opacity: 0.95;
    background: lightblue linear-gradient(to bottom, lightblue, wheat);
    /* jumbotron background */
}

#myImage {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 0px 15px 15px 0px;
    /* profile image round */
}

#lpn,
#readExploreSend,
#sidebarCard {
    background: wheat linear-gradient(to bottom, white, Wheat);
    /* select card backgrounds */
}

#sidebar {
    margin-left: 60px;
    /* social media links */
}

#connectLabel {
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    /* social media links */
}

.heading {
    text-align: left;
    font-size: 22px;
    /* heading and brand statement */
}

.subHeading {
    margin-top: 24px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    /* heading and brand statement */
}

.article {
    margin-top: 24px;
    text-align: left;
    line-height: 1.6;
    /* about, work, contact statement (context)*/
}

#bio {
    margin-top: 10px;
    /* pushes text down from the card-header */
}

#repo {
    float: right;
    color: black;
    font-size: 28px;
    /* button is a link to the Git Hub repo */
}

#skills {
    float: right;
    color: black;
    font-size: 28px;
    /* icon is a popover to learn about the coding skills used to build the app */
}


/* begin styling for cards on profile page */

#pro1 {
    opacity: 0.9;
    background: wheat linear-gradient(to bottom, white, Wheat);
}

#pro1Footer {
    background-color: wheat;
}

#pro2 {
    opacity: 0.9;
    background: yellow linear-gradient(to bottom, white, yellow);
}

#pro2Footer {
    background-color: yellow;
}

#edb {
    opacity: 0.9;
    background: orange linear-gradient(to bottom, white, orange);
}

#edbFooter {
    background-color: orange;
}

#frfdr {
    opacity: 0.9;
    background: lightblue linear-gradient(to bottom, white, lightblue);
}

#frfdrFooter {
    background-color: lightblue;
}

#nyt {
    opacity: 0.9;
    background: lightgreen linear-gradient(to bottom, white, lightgreen);
}

#nytFooter {
    background-color: lightgreen;
}

#smt {
    opacity: 0.9;
    background: rgb(251, 59, 33) linear-gradient(to bottom, white, rgb(251, 59, 33));
}

#smtFooter {
    background-color: rgb(251, 59, 33);
}

#gif {
    opacity: 0.9;
    background: lightseagreen linear-gradient(to bottom, white, lightseagreen);
}

#gifFooter {
    background-color: lightseagreen;
}

#crystal {
    opacity: 0.9;
    background: wheat linear-gradient(to bottom, white, wheat);
}

#crstalFooter {
    background-color: wheat;
}

#psychic {
    opacity: 0.9;
    background: yellow linear-gradient(to bottom, white, yellow);
}

#psychicFooter {
    background-color: yellow;
}

#ts {
    opacity: 0.9;
    background-image: url(./images/tiledBackground.jpg);
}

#tsFooter {
    background-color: lightgoldenrodyellow;
}

#rps {
    opacity: 0.9;
    background: orange linear-gradient(to bottom, white, orange);
}

#rpsFooter {
    background-color: orange;
}


#rpg {
    opacity: 0.9;
    background: dodgerblue linear-gradient(to bottom, white, dodgerblue);
}

#rpgFooter {
    background-color: dodgerblue;
}


/* end styling for cards on profile page */

#contactLabel {
    opacity: 0.9;
    background: gold linear-gradient(to right, white, gold);
    /* gradient background for contact form label */
}

#contactForm {
    background-image: url(./images/contactForm.png);
    /*  background image for contact form label */
}

#formField:hover {
    border: 2px solid gray;
    /* helps reveal the contact form fields */
}

#footer {
    opacity: 0.9;
    background: lightblue linear-gradient(to bottom, white, lightblue);
}

#credit {
    font-size: 10px;
    /* used an image from a website; credit for that icon */
}


/* media queries */

@media only screen and (max-width: 992px) {
    html,
    body {
        height: 150%;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        height: 200%;
    }
}