body,
html {
    height: 100%;
    width: 100%;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* page background */
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    /* page background */
}

div.background {
    background: url(./images/titleImage.jpg);
    border: 1.5px solid gray;
    border-radius: 3px 25px;
    margin: 5px;
    /* jumbotron background */
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 50px;
    opacity: 0.8;
    filter: alpha(opacity=60);
    /* jumbotron background */
    /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* jumbotron background */
}

#myImage {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    /* profile image round */
}

.title,
.subHeading {
    margin-top: 39px;
    text-align: left;
    /* title and brand statement */
}

@media only screen and (max-width: 992px) {
    html,
    body {
        height: 150%;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        height: 200%;
    }
}